<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= solution %></p>
    <ul>
        <% result.forEach(function(item){%>
          <li>
            <%=item.solution%>/
            <%=item.name%>
          </li>

      <%})%>
    </ul>
  </body>
</html>
